th{
  padding-left: 10px;
  text-align: center;
  font-weight: 600;
  background-color: #FFFF;
  color: #444;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-right: none;
}
td{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px #FFFF solid;
}
.photo{
  width: 80%;
}
.logo{
  width: 5%;
}
.titleTeam{
  margin-left: 5px;
}
